:root {
    --primary-color: #2baaec;
    --secondary-color: #25e6c8;
    --background-color: #f7f7f7;
    --background-color-dark: #163c70;
    --text-color: #626262;
    --title-color: #363636;

  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html, body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
  }
  .container {
    width: 100%;
    margin: auto;
    padding: 0.7rem;
  }
  .d-flex {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .d-flex img {
      height: 0.8rem;
      margin-right: 0.5rem;
  }
  .d-flex p {
      margin-top: 0.2rem;
      font-size: 0.8rem;
  }
  .bg-white {
      background-color: white;
      border-bottom: 1px solid #707070;
  }
  .bg-dark {
    background-color: #333;
    color: #fff;
  }
  .bg-light {
    background-color: #dadada;
    color: #333;
  }
  a {
    text-decoration: none;
    color: var(--primary-color);
    margin-left: 1.8rem;
  }
  a:hover {
    color: var(--secondary-color);
  }
  .nav-link a {
      color: var(--title-color);
  }
  .btn {
    padding: 2rem;
    border: 1px solid transparent;
    border-radius: 1.3rem;
    outline: none;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 0.8rem;
    background-color: transparent;
    width: 100%;
  }
  .btn-primary {
    background-color: var(--primary-color);
    color: white;
  }
  .btn-primary:hover {
    background-color: var(--secondary-color);
  }
  
  
  
  /* TOP NAV */
  .top-nav {
    padding: .2rem 1rem;
    display: none;
  }
  .top-nav .container, .navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  
  /* NAVBAR */
  
  
  .navbar {
    padding: 1.5rem 1rem;
  }
  .collapse:not(.show) {
    display: none;
  }
  
  .navbar-brand img {
    height: 3.7rem;
  }
  .navbar-toggler {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    color: var(--primary-color)
  }
  .navbar-nav {
    display: flex;
    flex-direction: column;
    list-style: none;
  }
  
  
  
  /*SHOWCASE */
  #showcase {
    background: #DEDEDE;
    /* background-repeat: no-repeat; */
    background-size: cover;
    /* background-blend-mode: overlay; */
    min-height: 500px;
  }
  #showcase .container {
    display: flex;
    /* align-items: center; */
    /* justify-content: space-around; */
    }
  #showcase .container img {
    height: 500px;
    display: none;
    margin-bottom: -0.7rem;
  }
  #showcase .content {
    align-self: center;
    text-align: left;
    padding: 4rem;
    margin-left: 2rem;
  }
  .text {
    margin-bottom: 3rem;
  }
  .text h1 {
  font-size: 2.7rem;
  font-weight: lighter;
  text-transform: unset;
  margin-bottom: 1.5rem;
  /* letter-spacing: .1em; */
  }
  .text p {
    font-size: 0.9rem;
  }
  .btn-about {
      background-color: var(--secondary-color);
      padding: 0.9rem;
      width: 39%;
      border: none;
      border-radius: 10px;
      color: white;
  }
  .btn-about:hover {
      background-color: var(--primary-color);
  }


  /*ABOUT*/
  .about {
      padding: 1rem;
      /* border: 1px solid red; */
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .about h2 {
      font-weight: normal;
      font-size: 2rem;
      padding-bottom: 1rem;
      border-bottom: 3px solid var(--secondary-color);
      margin-bottom: 1rem;
  }
  .about-text p {
    font-size: 0.9rem;
    line-height: 1.3rem;
  }
  .about img {
    height: 560px;
    margin-top: 4rem;
    margin-left: 12rem;
  }
  .about {
    display: flex;
    /* align-items: center; */
    /* justify-content: space-around; */
    }
  .content {
    align-self: center;
    text-align: left;
    padding: 4rem;
  }
  .grid {
    display: grid;
    grid-template-columns: 30%;
    /* grid-template-columns: 7fr 3fr; */
    grid-template-columns: repeat(3, 1fr);
    margin-top: 2rem;
    gap: 2rem;
    grid-auto-rows: minmax(100px, auto);
  }
.info h3 {
    font-size: 2rem;
    color: var(--primary-color);
    font-weight: normal;
}
.info h4 {
    font-weight: normal;
}




/*SERVICES*/
#services {
    background: #F7F7F7;
    /* background-repeat: no-repeat; */
    background-size: cover;
    /* background-blend-mode: overlay; */
    min-height: 500px;
  }
  #services .container {
    display: grid;
    /* align-items: center; */
    /* justify-content: space-around; */
  }
  #services .content {
    align-self: center;
    text-align: left;
    padding: 4rem;
    margin-left: 2rem;
  }
  .srvc {
    text-align: center;
    font-weight: normal;
    border-bottom: 2px solid var(--secondary-color);
  }
  .grid-service {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
}
#header {
    grid-column: 2/3;
    grid-row: 1/1;
}
#item1 {
    grid-column: 1/2;
    grid-row: 2/2;
}
#item2 {
    grid-column: 2/2;
    grid-row: 2/3;
}
#item3 {
    grid-column: 3/3;
    grid-row: 2/2;
}
#item4 {
    grid-column: 1/2;
    grid-row: 3/3;
}
#item5 {
    grid-column: 2/3;
    grid-row: 3/3;
}
#item6 {
grid-column: 3/4;
grid-row: 3/3;
}

  
  
  @media (min-width: 768px) {
    .navbar-toggler {
      display: none;
    }
    .collapse:not(.show) {
      display: block;
    }
    .navbar-nav {
      flex-direction: row;
    }
    a {
      padding: 0 .5rem;
    }
    .top-nav {
      display: block;
    }
    .container {
      max-width: 720px;
    }
    #showcase .container img {
      display: inline-block;
    }
    .content {
      text-align: left;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 1140px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }